<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/cart.css">
    <script src="https://kit.fontawesome.com/4fbcb9a71e.js" crossorigin="anonymous"></script>
    <title>E-Commerce</title>
</head>
<body>
    <header>
        <div class="headup">
            <div class="logo">
                <img src="../static/images/images.png" alt="" />
            </div>
            <nav class="navbar">
                <ul id="lists">
                    <li class="dropdown">
                        <a href="index.html" class="dropbtn">Home <i class="fa-solid fa-caret-down"></i></a>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </li>
                    <li class="dropdown">
                        <a href="about.html" class="dropbtn">About <i class="fa-solid fa-caret-down"></i></a>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </li>
    
                    <li><a href="page3.html">Shop</a></li>
                    <li><a href="#">Catalogue</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Contact</a></li>
                    <a href="#" id="close"><i class="fa-solid fa-x"></i></a>
    
                  </ul>
            </nav>
            <!-- <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" id="search-box" placeholder="search">
            </div> -->
            <!-- <div class="myname">
                <span>
                    Mohamed Hamdy
                </span>
            </div> -->
            <div class="icons">
               <a href=""><i class="fa-solid fa-user"></i></a> 
               <a href=""><i class="fa-regular fa-heart"></i></a> 
               <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a> 
               <div class="mobile">
                   <i id="bar" class="fas fa-outdent"></i>
               </div>
            </div>
        </div>

    </header>
    <div class="bread">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="sec-li"><a>cart</a></li>
          </ul>
    </div>
    <table border="1" width="75%" class="table">
            
        <tr class="headingtable">
            <th class="display">Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>

        </tr>
        {% for item in order_items %}
            <tr class="headingtable">
                <td class="display"> <img src="../static/images/{{ item.image_url }}"></td>
                <td>{{ item.product_name }}</td>
                <td>${{ item.unit_price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.price }}</td>
                <td>
                    <button class="remove">X</button>
                </td>
            </tr>
        {% endfor %}
    </table>
        <!--<tr class="headingtable">
            <td class="display"> <img src="../static/images/cloth_2.jpg"></td>
            <td>Top Up T-Shirt</td>
            <td>$49.00</td>
            <td>
                <button>-</button>
                <input type="number">
                <button>+</button>
            </td>
            <td>$49.00</td>
            <td>
                <button class="remove">X</button>
            </td>
      </table>-->

<div class="cart-total">
        <div class="total-buttons">
                <button class="purple-button">Update Cart</button>
                <a href="/page3.html" class="white-button">Continue Shopping</a>
           <!--<form action="{{ url_for('page3') }}">
                <button class="white-button" type="submit">Continue Shopping</button>
            </form>-->
           <!--<button class="white-button">Continue Shopping</button>-->
        </div>

        <div class="total-text">
        <span>CART TOTALS</span>
        </div>

</div>
<section class="middle-coupon">
<div class="total-coupon">
 <div class="coupons">
    <h3>Coupoun</h3>
    <p>Enter your coupon code if you have one.</p>
    <input class="coupon-text" type="text">
 </div>

 <div class="button-coupon">
    <button class="purple-button">Apply Coupon</button>
 </div>
</div>
<div class="cart-values">
<ul class="subtotal">
    <li >
        <span class="item-1">Subtotal</span>
        <span class="item-2">${{ total_price }}</span>
    </li>
    <li>
        <span class="item-3">Total</span>
        <span class="item-4">${{ total_price }}</span>
    </li>
</ul>

<div class="subtotal-button">
    <button class="purple-2-button"><a href="proced.html">Proceed to checkout</a> </button>
</div>
</div>
</section>
    <footer class="footer">
        
        <div class="foot-one">
            
                <ul>
                    <li><h3>Navigation</h3></li>
                    <li>Sell online</li>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-two">
            
                <ul>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-two">
            
                <ul>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-four">
            <ul>
                <li class="head-line">
                    <h3>
                        promo
                    </h3>
                </li>
                <li><img src="../static/images/hero_1.jpg" alt=""></li>
                <li>
                    <a class="link" href="#">
                    Finding your perfect shoes
                    </a>
                </li>
                <li class="grey-2" >
                    promo from january 15-25,2023
                </li>
            </ul>
        </div>
        <div class="foot-five">
            <ul>
                <li class="head-line">
                    <h3>
                        contact info

                    </h3>
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i>Alexandria,Egypt
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    01151316110
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    Mohamedhamdy994@gmail.com<br>
                    <i class="fa-solid fa-envelope"></i>
                    Shimaasalah91.13@gmail.com<br>
                    <i class="fa-solid fa-envelope"></i>
                    eng.ahmedads@gmail.com
                </li>
                <li>Subscribe</li>
                <li><input type="email" name="" id="input" placeholder="Email"><button class="button-foot">send</button></li>
    
            </ul>
            
    
        
    </div>
</footer>
<script src="../static/scripts/script.js"></script>
<!-- <div class="copyright">
    <p>
        Copyright &copy;2023 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by <span>Mohamed Hamdy</span> 
    </p>
</div> -->
</body>
</html>
