<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fbcb9a71e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style2.css">
    <title>About</title>
</head>
<body>
    <header>
        <div class="headup">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" id="search-box" placeholder="search">
            </div>
            <div class="myname">
                <span>
                    Mohamed Hamdy
                </span>
            </div>
            <div class="icons">
                <a href=""><i class="fa-solid fa-user"></i></a> 
                <a href=""><i class="fa-regular fa-heart"></i></a> 
                <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a> 
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li class="dropdown">
                    <a href="index.html" class="dropbtn">Home <i class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </li>
                <li class="dropdown">
                    <a href="about.html" class="dropbtn">About <i class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </li>

                <li><a href="page3.html">Shop</a></li>
                <li><a href="#">Catalogue</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Contact</a></li>

              </ul>
        </nav>
    </header>
    <div class="bread">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="sec-li"><a>About</a></li>
          </ul>
    </div>
    <section >

        <div class="blog-head">
            <div class="boot-image">
                <!-- <img src="images/blog_1.jpg" alt=""> -->
            </div>
            <div class="blog-words">
                <span class="blog-text">
                    <hr>
                    How We Started 
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut suscipit ad dolore doloremque maxime cumque animi alias atque sequi amet sunt velit veniam, illo eum asperiores ut nostrum? Dignissimos, atque.
                    Quaerat suscipit quod nobis saepe repudiandae voluptatem ipsa minima, nihil neque placeat laboriosam eligendi officia? Sit consequuntur amet, debitis ratione ex vitae voluptate veritatis expedita ab, qui, aperiam vel modi!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, ut temporibus molestiae perferendis ab voluptatum explicabo adipisci numquam nisi nesciunt vitae excepturi optio corrupti mollitia, id laudantium ratione. Minima, necessitatibus?
                </p>
            </div>
        </div>
    </section>
    <section class="team">
        <div class="team-word">
<hr>
            <h1>
                The Team
            </h1>
        </div>
        <div class="team-content">
            <div class="box">
                <img src="../static/images/person_1.jpg" alt="">
                    <h2>
                        elizebith graham
                    </h2>
                    <span>
                        CEO/Co-Founder
                    </span>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ipsam ipsum officiis sunt veritatis hic sit laudantium reiciendis debitis aliquid quaerat necessitatibus repudiandae culpa nam quos, incidunt deserunt qui tempore!
                    </p>
            </div>
            <div class="box">
                <img src="../static/images/person_2.jpg" alt="">
                    <h2>
                        elizebith graham
                    </h2>
                    <span>
                        CEO/Co-Founder
                    </span>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ipsam ipsum officiis sunt veritatis hic sit laudantium reiciendis debitis aliquid quaerat necessitatibus repudiandae culpa nam quos, incidunt deserunt qui tempore!
                    </p>
            </div>
            <div class="box">
                <img src="../static/images/person_3.jpg" alt="">
                    <h2>
                        elizebith graham
                    </h2>
                    <span>
                        CEO/Co-Founder
                    </span>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ipsam ipsum officiis sunt veritatis hic sit laudantium reiciendis debitis aliquid quaerat necessitatibus repudiandae culpa nam quos, incidunt deserunt qui tempore!
                    </p>
            </div>
            <div class="box">
                <img src="../static/images/person_4.jpg" alt="">
                    <h2>
                        elizebith graham
                    </h2>
                    <span>
                        CEO/Co-Founder
                    </span>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ipsam ipsum officiis sunt veritatis hic sit laudantium reiciendis debitis aliquid quaerat necessitatibus repudiandae culpa nam quos, incidunt deserunt qui tempore!
                    </p>
            </div>
    </section>




    <section class="middle">
        <div class="first">
            <div>
                <i class="fa-solid fa-truck fa-flip-horizontal fa-3x"></i>
            </div>
            <div class="beside">
                <span class="upper">free shipping</span>
                <span class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, laboriosam repudiandae expedita omnis doloribus minus neque eius tempora! Maiores at distinctio corrupti ipsam. Similique ad cum incidunt non dolore autem.</span>
            </div>
        </div>
        <div class="sec">
            <div>
                <i class="fa-solid fa-rotate-left fa-flip-horizontal fa-3x"></i>
            </div>
            <div class="beside">
                <span class="upper">free return</span>
                <span class="para" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, laboriosam repudiandae expedita omnis doloribus minus neque eius tempora! Maiores at distinctio corrupti ipsam. Similique ad cum incidunt non dolore autem.</span>
            </div>
        </div>
        <div class="third">
            <div>
                <i class="fa-solid fa-circle-question fa-3x"></i>
            </div>
            <div class="beside">
                <span class="upper">free support</span>
                <span class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, laboriosam repudiandae expedita omnis doloribus minus neque eius tempora! Maiores at distinctio corrupti ipsam. Similique ad cum incidunt non dolore autem.</span>
            </div>
        </div>
    </section>

    <footer class="footer">
        
        <div class="foot-one">
            
                <ul>
                    <li><h3>Navigation</h3></li>
                    <li>Sell online</li>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-two">
            
                <ul>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-two">
            
                <ul>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-four">
            <ul>
                <li class="head-line">
                    <h3>
                        promo
                    </h3>
                </li>
                <li><img src="../static/images/hero_1.jpg" alt=""></li>
                <li>
                    <a class="link" href="#">
                    Finding your perfect shoes
                    </a>
                </li>
                <li class="grey-2" >
                    promo from january 15-25,2023
                </li>
            </ul>
        </div>
        <div class="foot-five">
            <ul>
                <li class="head-line">
                    <h3>
                        contact info

                    </h3>
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i>Egypt
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    01151316110
                </li>
                <li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        Mohamedhamdy994@gmail.com<br>
                        <i class="fa-solid fa-envelope"></i>
                        Shimaasalah91.13@gmail.com<br>
                        <i class="fa-solid fa-envelope"></i>
                        eng.ahmedads@gmail.com
                    </li>
                <li>Subscribe</li>
                <li><input type="email" name="" id="input" placeholder="Email"><button class="button-foot">send</button></li>
    
            </ul>
            
    
        
    </div>
</footer>
<!-- <div class="copyright">
    <p>
        Copyright &copy;2023 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by <span>Mohamed Hamdy</span> 
    </p>
</div> -->
</body>
</html>
