<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/styles.css') }}">
</head>
<body>

    <!-- controlling page  -->
     
    <h1>Welcome, {{ admin.admin_name }} <img src="{{ url_for('static', filename=admin.image_url) }}" alt="Admin Image" width="50" height="50"></h1>
    <form action="{{ url_for('admin_logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
    <h2>Admin Dashboard</h2>
    <div class="admin-buttons">
        {% if admin.admin_role.admin_role_name == 'Super Admin' %}
            <button onclick="window.location.href='{{ url_for('admin_suppliers') }}'">Suppliers</button>
            <button onclick="window.location.href='{{ url_for('admin_categories') }}'">Categories</button>
            <button onclick="window.location.href='{{ url_for('admin_products') }}'">Products</button>
            <button onclick="window.location.href='{{ url_for('admin_admins') }}'">Admins</button>
            <button onclick="window.location.href='{{ url_for('admin_discounts') }}'">Discounts</button>
            <button onclick="window.location.href='{{ url_for('admin_coupons') }}'">Coupons</button>
            <button onclick="window.location.href='{{ url_for('admin_deliveries') }}'">Deliveries</button>
            <button onclick="window.location.href='{{ url_for('admin_orders') }}'">Orders</button>
        {% elif admin.admin_role.admin_role_name == 'Product Manager' %}
            <button onclick="window.location.href='{{ url_for('admin_categories') }}'">Categories</button>
            <button onclick="window.location.href='{{ url_for('admin_products') }}'">Products</button>
        {% elif admin.admin_role.admin_role_name == 'Supplier Manager' %}
            <button onclick="window.location.href='{{ url_for('admin_suppliers') }}'">Suppliers</button>
            <button onclick="window.location.href='{{ url_for('admin_categories') }}'">Categories</button>
            <button onclick="window.location.href='{{ url_for('admin_products') }}'">Products</button>
            <button onclick="window.location.href='{{ url_for('admin_discounts') }}'">Discounts</button>
            <button onclick="window.location.href='{{ url_for('admin_coupons') }}'">Coupons</button>
        {% elif admin.admin_role.admin_role_name == 'Order Manager' %}
            <button onclick="window.location.href='{{ url_for('admin_orders') }}'">Orders</button>
            <button onclick="window.location.href='{{ url_for('admin_deliveries') }}'">Deliveries</button>
        {% endif %}
    </div>
</body>
</html>
