<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/styles.css') }}">
</head>
<body>
    <header>
        <h1>About Our Grocery Shop</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('page3') }}">Products</a></li>
                <li><a href="{{ url_for('cart') }}">Cart</a></li>
            </ul>
        </nav>
        <h1>Your Cart</h1>
    </header>
    <main>
        {% if order_items %}
            <ul>
                {% for item in order_items %}
                    <li>
                        <img src="{{ item.image_url }}" alt="{{ item.product_name }}">
                        <p>{{ item.product_name }}</p>
                        <p>Price: ${{ item.price_after_discount }}</p>
                        <p>Amount: {{ item.amount }} kg</p>
                        <p>Total: ${{ item.price }}</p>
                    </li>
                {% endfor %}
            </ul>
            <p>Total Price: ${{ total_price }}</p>
            
            {% if final_price is not none %}
                <p>Coupon Code Applied: {{ session.get('coupon_code') }}</p>
                <p>Coupon Amount: ${{ coupon_amount }}</p>
                <p>Final Price After Discount: ${{ final_price }}</p>
            {% endif %}

            <a href="{{ url_for('proced') }}">Proceed to Checkout</a>

            <form action="{{ url_for('apply_coupon') }}" method="POST">
                <label for="coupon_code">Enter Coupon Code:</label>
                <input type="text" name="coupon_code" id="coupon_code" required>
                <button type="submit">Apply Coupon</button>
            </form>
            <!-- Clear Cart Button -->
            <form action="{{ url_for('clear_cart') }}" method="POST" style="margin-top: 20px;">
                <button type="submit" class="clear-cart-button">Clear Cart</button>
            </form>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2024 Grocery Shop. All rights reserved.</p>
    </footer>
</body>
</html>
