<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Discount</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/styles.css') }}">
</head>
<body>

    <!-- edit discount  -->
    <h2>Edit Discount</h2>
    <form method="POST">
        <label for="discount_percentage">Discount Percentage:</label>
        <input type="number" name="discount_percentage" id="discount_percentage" step="0.01" value="{{ discount.discount_percentage }}" required><br>

        <label for="start_date">Start Date:</label>
        <input type="datetime-local" name="start_date" id="start_date" value="{{ discount.start_date.strftime('%Y-%m-%dT%H:%M') }}" required><br>

        <label for="end_date">End Date:</label>
        <input type="datetime-local" name="end_date" id="end_date" value="{{ discount.end_date.strftime('%Y-%m-%dT%H:%M') }}" required><br>

        <input type="submit" value="Save Changes">
    </form>
    <br>
    <a href="{{ url_for('admin_discounts') }}">Back to Discount List</a>
</body>
</html>
