<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrocerEase</title>
    <link href="../static/styles/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4fbcb9a71e.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <div class="col-lg-3 d-flex align-items-center">
          <span class="material-symbols-outlined text-white me-1">
            shopping_cart
          </span>
          <a class="navbar-brand me-0 text-white fs-3" href="/index.html"
            ><span class="fw-bolder text-warning">G</span>rocerEase</a
          >
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample11"
          aria-controls="navbarsExample11"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="/index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/shop.html">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about.html">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Join Us</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/sign-up.html">Sign Up</a></li>
                <li><a class="dropdown-item" href="/sign-in.html">Login In</a></li>
                <li>
                  <a class="dropdown-item" href="#">Sign Out</a>
                </li>
              </ul>
            </li>
          </ul>
          <div class="d-lg-flex col-lg-6 justify-content-lg-end">
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-warning" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <!-- hero section -->
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="../static/images/vegetables-7357585_640.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3 txt_color">Fresh Grocery</h1>
          <p class="lead display-5 lh-base fw-bold">
            You Can Buy All the Grocery Items Hasslefree
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">
              <a class="text-dark" href="/shop.html" >Shop Now</a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- hero service -->
    <div class="hero-service">
      <div class="d-flex back-ground text-white flex-wrap pt-3">
        <div class="col-lg-3 col-sm-6">
          <div
            class="service-wrapper free-shipping d-flex align-items-center justify-content-center"
          >
            <div class="service-img px-3">
              <span class="material-symbols-outlined fs-1"> garden_cart </span>
            </div>
            <div class="service-content">
              <h5 class="service-info service-title">Free Shipping</h5>
              <p class="service-info service-details">
                When ordering over $100
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div
            class="service-wrapper free-shipping d-flex justify-content-center align-items-center"
          >
            <div class="service-img px-3">
              <span class="material-symbols-outlined fs-1">
                forward_circle
              </span>
            </div>
            <div class="service-content">
              <h5 class="service-info service-title">Free Return</h5>
              <p class="service-info service-details">
                Get Return within 30 days
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div
            class="service-wrapper free-shipping d-flex justify-content-center align-items-center"
          >
            <div class="service-img px-3">
              <span class="material-symbols-outlined fs-1"> lock </span>
            </div>
            <div class="service-content">
              <h5 class="service-info service-title">Secure Payment</h5>
              <p class="service-info service-details">
                100% Secure Online Payment
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div
            class="service-wrapper free-shipping d-flex justify-content-center align-items-center"
          >
            <div class="service-img px-3">
              <span class="material-symbols-outlined fs-1"> trophy </span>
            </div>
            <div class="service-content">
              <h3 class="service-info service-title">Best Quality</h3>
              <p class="service-info service-details">
                Original Product Guarenteed
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- market category -->
    <div class="product-category mt-5">
      <div class="container">
        <div class="section-title">
          <h3>Market Category</h3>
        </div>
        <div class="prod-container d-flex  align-items-center justify-content-between flex-wrap mt-4 px-3">
        <div class="product d-flex flex-column align-items-center">
          <div class="product-img">
            <img src="../static/images/strawberry_13643533.png" alt="" width="80" height="80">
          </div>
          <div class="product-info text-black-50 fs-3">Fruits</div>
        </div>
        <div class="product d-flex flex-column align-items-center">
          <div class="product-img">
            <img src="../static/images/vegetables_862860.png" alt="" width="80" height="80">
          </div>
          <div class="product-info text-black-50 fs-3">Vegetables</div>
        </div>
        <div class="product d-flex flex-column align-items-center">
          <div class="product-img">
            <img src="../static/images/diet_561611.png" alt="" width="80" height="80">
          </div>
          <div class="product-info text-black-50 fs-3">Food</div>
        </div>
        <div class="product d-flex flex-column align-items-center">
          <div class="product-img">
            <img src="../static/images/soft-drink_2405479.png" alt="" width="80" height="80">
          </div>
          <div class="product-info text-black-50 fs-3text-black-50 fs-3">Drinks</div>
        </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 mt-4">
          {% for category in sorted_categories %}
            <div class="col">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/{{ category.image_url }}');background-repeat: no-repeat;background-size: cover;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ category.category_name }}</h3>
                  <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">
                    <a class="text-dark" href="/shop.html" >Shop Now</a>
                  </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- fresh grocery -->
    <div class="fresh-veg py-5">
      <div class="container">
        <div class="section-title">
          <h3>Fresh Vegetables</h3>
        </div>
        <div class="fresh-section">
          <div class="row g-5">
            {% for product in sorted_products_by_category %}            
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100">
                  <img src="../static/images/{{ product.image_url }}" class="card-img-top p-3 rounded"  alt="{{ product.product_name }}">
                  <div class="card-body text-center">
                    <div class="rating">
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <h5 class="card-title fs-2">{{ product.product_name }}</h5>
                    <p class="card-text">
                      <div class="prices fs-4 fw-bold">
                        <span class="text-decoration-line-through">${{ product.unit_price }}</span>
                        {% if product.discount and product.discount.discount_percentage > 0 %}
                          <span class="text-danger"> 
                            ${{ product.price_after_discount | round(2) }}
                          </span>                
                        {% else %}
                          <p><strong>No discount</strong></p>
                        {% endif %}
                      </div>
                    </p>
                    <!-- Add to Cart Form -->
                    <form action="{{ url_for('cart') }}" method="POST">
                      <input type="hidden" name="product_id" value="{{ product.id }}">
                      <div class="input mb-2">
                        <input class="rounded-input" type="number" name="amount" id="amount" min="{{ product.min_order_amount }}" required value="{{ product.min_order_amount }}" step="{{ product.min_order_amount }}">
                      </div>
                      <button type="submit" class="btn text-white d-flex align-items-center justify-content-center btn-success">
                        <span class="material-symbols-outlined">
                          add_shopping_cart
                        </span>
                        Add to Cart
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
    

            </div>
          </div>
        </div>
    </div>

    <!-- sales  -->

    <div class="sales">
      <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">WOO! Flash Sale </h1>
            <p class="lead">
              You get into the 2k+ best Products in br Flash offer with as in 
              <br>
              Use this Coupon code for your first order WELCOME10.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">
                <a class="text-dark" href="/shop.html" >Shop Now</a>
              </button>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="../static/images/sambosa.jpg" alt="" width="720">
          </div>
        </div>
      </div>
    </div>

    <!-- top selling  -->

    <div class="top-sell">
      <div class="container">
        <div class="section-title my-3">
          <h3>Top Sales</h3>
        </div>
      <div class="row g-5">
        {% for product in sorted_products_by_discount %}
          <div class="col-lg-4 col-md-6">
            <div class="card" >
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../static/images/{{ product.image_url }}" class="img-fluid rounded-start h-100" alt="{{ product.product_name }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body ">
                    <div class="rating">
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <h5 class="card-title fs-2">{{ product.product_name }}</h5>
                    <p class="card-text">
                      <div class="prices fs-4 fw-bold">
                        <span class="text-decoration-line-through">${{ product.unit_price }}</span>
                        {% if product.discount and product.discount.discount_percentage > 0 %}
                          <span class="text-danger"> 
                            ${{ product.price_after_discount | round(2) }}
                          </span>                
                        {% else %}
                          <p><strong>No discount</strong></p>
                        {% endif %}
                      </div>
                    </p>
                    <!-- Add to Cart Form -->
                    <form action="{{ url_for('cart') }}" method="POST">
                      <input type="hidden" name="product_id" value="{{ product.id }}">
                      <div class="input mb-2">                      
                        <input class="rounded-input" type="number" name="amount" id="amount" min="{{ product.min_order_amount }}" required value="{{ product.min_order_amount }}" step="{{ product.min_order_amount }}">
                      </div>                      
                        <button type="submit" class="btn text-white d-flex align-items-center justify-content-center btn-success">
                        <span class="material-symbols-outlined">
                          add_shopping_cart
                        </span>
                        Add to Cart
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    </div>

    <!-- two cards  -->
      <div class="two-cards my-5">
      <div class="container">
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white card-one rounded-3">
              <h5>Vegetables</h5>
              <h2>The 14 Most Nutri-Dense Vegetable</h2>
              <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">
                <a class="text-dark" href="/shop.html" >Shop Now</a>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5  card-two border rounded-3">
              <h5>Fruits</h5>
              <h2>Healthy and Good Fruits</h2>
              <button type="button" class="btn btn-success btn-lg px-4 me-md-2">
                <a class="text-white" href="/shop.html" >Shop Now</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- fresh Fruits -->
      <div class="fresh-veg py-5">
        <div class="container">
          <div class="section-title">
            <h3>Fresh Vegetables</h3>
          </div>
          <div class="fresh-section">
            <div class="row g-5">
              {% for product in sorted_products_by_category_2 %}
              <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="card h-100">
                  <img src="../static/images/{{ product.image_url }}" class="card-img-top p-3 rounded" alt="{{ product.product_name }}">
                  <div class="card-body text-center">
                    <div class="rating">
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <h5 class="card-title fs-2">{{ product.product_name }}</h5>
                    <p class="card-text">
                      <div class="prices fs-4 fw-bold">
                        <span class="text-decoration-line-through">${{ product.unit_price }}</span>
                          {% if product.discount and product.discount.discount_percentage > 0 %}
                                <span class="text-danger"> 
                                  ${{ product.price_after_discount | round(2) }}
                                </span>                
                          {% else %}
                                <p><strong>No discount</strong></p>
                          {% endif %}
                      </div>
                    </p>
                    <!-- Add to Cart Form -->
                    <form action="{{ url_for('cart') }}" method="POST">
                      <input type="hidden" name="product_id" value="{{ product.id }}">
                      <div class="input mb-2">
                        <input class="rounded-input" type="number" name="amount" id="amount" min="{{ product.min_order_amount }}" required value="{{ product.min_order_amount }}" step="{{ product.min_order_amount }}">
                      </div>                      
                        <button type="submit" class="btn text-white d-flex align-items-center justify-content-center btn-success">
                        <span class="material-symbols-outlined">
                          add_shopping_cart
                        </span>
                        Add to Cart
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
              </div>
            </div>
          </div>
      </div>


      <div class=" container my-5">
        <div class="p-5 text-center  rounded-3" style="background-image:url('../static/images/cucumber2.jpg') ;">
          <h1 class=" text-white">Get The Best Deals With Modern Grocery</h1>
          <button type="button" class="btn btn-warning btn-lg px-4 me-md-2">
            <a class="text-dark" href="/shop.html" >Shop Now</a>
          </button>
        </div>
      </div>


      <!-- footer -->
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
              </ul>
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top">
            <p>&copy; 2024 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </div>
        </footer>
      </div>
    <script defer type="text/javascript" src="../static/scripts/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
