<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fbcb9a71e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style1.css">
    <title>E-commerce Mohamed Hamdy</title>
</head>
<body>
    <header>
        <div class="headup">
            <div class="logo">
                <img src="../static/images/images.png" alt="" />
            </div>
            <nav class="navbar">
                <ul id="lists">
                    <li class="dropdown">
                        <a href="index.html" class="dropbtn">Home <i class="fa-solid fa-caret-down"></i></a>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </li>
                    <li class="dropdown">
                        <a href="about.html" class="dropbtn">About <i class="fa-solid fa-caret-down"></i></a>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </li>
    
                    <li><a href="page3.html">Shop</a></li>
                    <li><a href="#">Catalogue</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Contact</a></li>
                    <a href="#" id="close"><i class="fa-solid fa-x"></i></a>
    
                  </ul>
            </nav>
            <!-- <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" id="search-box" placeholder="search">
            </div> -->
            <!-- <div class="myname">
                <span>
                    Mohamed Hamdy
                </span>
            </div> -->
            <div class="icons">
               <a href=""><i class="fa-solid fa-user"></i></a> 
               <a href=""><i class="fa-regular fa-heart"></i></a> 
               <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a> 
               <div class="mobile">
                   <i id="bar" class="fas fa-outdent"></i>
               </div>
            </div>
        </div>

    </header>



    <section class="under-head">
        <!-- <div class="boot-image">
            <img src="../static/images/hero_1.png" alt="">
        </div> -->
        <span>
            Find your perfect shoes
        </span>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit omnis, natus totam quas molestias id dolor necessitatibus amet quam officia, nisi blanditiis magnam, libero tempore accusantium. Culpa dicta expedita cupiditate!
        </p>
        <button class="btn">
            <a href="page3.html">shop now</a> 
        </button>
    </section>


    <section class="middle">
        <div class="first">
            <div>
                <i class="fa-solid fa-truck fa-flip-horizontal fa-3x"></i>
            </div>
            <div class="beside">
                <span class="upper">free shipping</span>
                <span class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, laboriosam repudiandae expedita omnis doloribus minus neque eius tempora! Maiores at distinctio corrupti ipsam. Similique ad cum incidunt non dolore autem.</span>
            </div>
        </div>
        <div class="sec">
            <div>
                <i class="fa-solid fa-rotate-left fa-flip-horizontal fa-3x"></i>
            </div>
            <div class="beside">
                <span class="upper">free returning</span>
                <span class="para" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, laboriosam repudiandae expedita omnis doloribus minus neque eius tempora! Maiores at distinctio corrupti ipsam. Similique ad cum incidunt non dolore autem.</span>
            </div>
        </div>
        <div class="third">
            <div>
                <i class="fa-solid fa-circle-question fa-3x"></i>
            </div>
            <div class="beside">
                <span class="upper">Customer Support</span>
                <span class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, laboriosam repudiandae expedita omnis doloribus minus neque eius tempora! Maiores at distinctio corrupti ipsam. Similique ad cum incidunt non dolore autem.</span>
            </div>
        </div>
    </section>


    <section class="last-middle">
        <div class="category">
            <hr>
            <h1>Categories</h1>
        </div>
        <section class="sec-middle">
            <div class="one">
                <!-- <div class="photo">
                    <img src="../static/images/women.jpg" alt="">
                </div> -->
                <span class="collection">
                    collections
                </span>
                <span class="defined">
                    women
                </span>
    
                </div>
            </div>
            <div class="two">
                <!-- <div class="photo">
                    <img src="../static/images/children.jpg" alt="">
                </div> -->
                <span class="collection">
                    collections
                </span>
                <span class="defined">
                    children
                </span>
    
                </div>
            </div>
            <div class="three">
                <!-- <div class="photo">
                    <img src="../static/images/men.jpg" alt="">
                </div> -->
                <span class="collection">
                    collections
                </span>
                <span class="defined">
                    men
                </span>
    
                </div>
            </div>
        </section>

                </div>
            </div>

        </div>
    </section>


    <section class="third-middle">
        <div class="products">
            <hr>
            <span>featured products</span>
        </div>
        <div class="three-divs">
            <div class="shirt">
                <div class="shirt-img1">
                    <!-- <img src="../static/images/cloth_1.jpg" alt=""> -->
                </div>
                <div class="shirt-text">
                <span class="up">
                    tank top
                </span>
                <span class="mid">
                    finding perfect t-shirt
                </span>
                <span class="money">
                    $50
                </span>
                </div>
            </div>
            <div class="shirt">
                <div class="shirt-img2">
                    <!-- <img src="../static/images/cloth_1.jpg" alt=""> -->
                </div>
                <div class="shirt-text">
                <span class="up">
                    corater
                </span>
                <span class="mid">
                    finding perfect product
                </span>
                <span class="money">
                    $50
                </span>
                </div>
            </div>
            <div class="shirt">
                <div class="shirt-img3">
                    <!-- <img src="../static/images/cloth_1.jpg" alt=""> -->
                </div>
                <div class="shirt-text">
                <span class="up">
                    polo shirt
                </span>
                <span class="mid">
                    finding perfect shirt
                </span>
                <span class="money">
                    $50
                </span>
                </div>
            </div>
        </div>
    </section>


    <section >
        <div class="products">
            <hr>
            <span>Big Sale !</span>
        </div>
        <div class="blog-head">
            <div class="boot-image">
                <!-- <img src="../static/images/blog_1.jpg" alt=""> -->
            </div>
            <div class="blog-words">
                <span class="blog-text">
                    50% less in all items
                </span>
                <span class="percent">
                    by <span class="name"> Mohamed Hamdy </span> - March 3,2023
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit omnis, natus totam quas molestias id dolor necessitatibus amet quam officia, nisi blanditiis magnam, libero tempore accusantium. Culpa dicta expedita cupiditate!
                </p>
                <button class="btn2">
                    <a href="page3.html">shop now</a> 
                </button>
            </div>
        </div>
    </section>






    <footer class="footer">
        
            <div class="foot-one">
                
                    <ul>
                        <li><h3>Navigation</h3></li>
                        <li>Sell online</li>
                        <li> Features</li>
                        <li> shopping cart</li>
                        <li>Store builder</li>
                    </ul>
                
            </div>

            <div class="foot-two">
                
                    <ul>
                        <li> Features</li>
                        <li> shopping cart</li>
                        <li>Store builder</li>
                    </ul>
                
            </div>

            <div class="foot-two">
                
                    <ul>
                        <li> Features</li>
                        <li> shopping cart</li>
                        <li>Store builder</li>
                    </ul>
                
            </div>

            <div class="foot-four">
                <ul>
                    <li class="head-line">
                        <h3>
                            promo
                        </h3>
                    </li>
                    <li><img src="../static/images/hero_1.jpg" alt=""></li>
                    <li>
                        <a class="link" href="#">
                        Finding your perfect shoes
                        </a>
                    </li>
                    <li class="grey-2" >
                        promo from january 15-25,2023
                    </li>
                </ul>
            </div>
            <div class="foot-five">
                <ul>
                    <li class="head-line">
                        <h3>
                            contact info

                        </h3>
                    </li>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>Alexandria,Egypt
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        01151316110
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        Mohamedhamdy994@gmail.com<br>
                        <i class="fa-solid fa-envelope"></i>
                        Shimaasalah91.13@gmail.com<br>
                        <i class="fa-solid fa-envelope"></i>
                        eng.ahmedads@gmail.com
                    </li>
                    <li>Subscribe</li>
                    <li><input type="email" name="" id="input" placeholder="Email"><button class="button-foot">send</button></li>
        
                </ul>
                
        
            
        </div>
    </footer>
    <!-- <div class="copyright">
        <p>
            Copyright &copy;2023 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by <span>Mohamed Hamdy</span> 
        </p>
    </div> -->
    <script src="../static/scripts/script.js"></script>
</body>
</html>
