<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4fbcb9a71e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/single.css">
    <title>E-commerce</title>
    <script src="../static/scripts/counter.js"></script>
</head>
<body>
    <header>
        <div class="headup">
            <div class="logo">
                <img src="../static/images/images.png" alt="" />
            </div>
            <nav class="navbar">
                <ul id="lists">
                    <li class="dropdown">
                        <a href="index.html" class="dropbtn">Home <i class="fa-solid fa-caret-down"></i></a>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </li>
                    <li class="dropdown">
                        <a href="about.html" class="dropbtn">About <i class="fa-solid fa-caret-down"></i></a>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                      </li>
    
                    <li><a href="page3.html">Shop</a></li>
                    <li><a href="#">Catalogue</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Contact</a></li>
                    <a href="#" id="close"><i class="fa-solid fa-x"></i></a>
    
                  </ul>
            </nav>
            <!-- <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="search" id="search-box" placeholder="search">
            </div> -->
            <!-- <div class="myname">
                <span>
                    Mohamed Hamdy
                </span>
            </div> -->
            <div class="icons">
               <a href=""><i class="fa-solid fa-user"></i></a> 
               <a href=""><i class="fa-regular fa-heart"></i></a> 
               <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a> 
               <div class="mobile">
                   <i id="bar" class="fas fa-outdent"></i>
               </div>
            </div>
        </div>

    </header>
    <div class="bread">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="sec-li"><a>Tank Top T-shirt</a></li>
          </ul>
    </div>



        <div class="blog-head">
            <div class="boot-image">
                <img src="../static/images/{{ product.image_url }}" alt="">
            </div>
            
            <div class="blog-words">
                <span class="blog-text">
                    {{ product.product_name }}
                </span>
                <p>
                    {{ product.description }}
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut suscipit ad dolore doloremque maxime cumque animi alias atque sequi amet sunt velit veniam, illo eum asperiores ut nostrum? Dignissimos, atque.
                   one ex vitae voluptate veritatis expedita ab, qui, aperiam vel modi!
                </p>

                <span class="price">
                    ${{ product.price }}
                </span>
                <div class="radio">
                    <input type="radio" name="size">
                    <label for="small">Small</label>
                    <input type="radio" name="size">
                    <label for="medium">Medium</label>
                    <input type="radio" name="size">
                    <label for="large">Large</label>
                    <input type="radio" name="size">
                    <label for="extra">Extra Large</label>
                </div>
                <form method="post" action="/single/{{ product.id }}">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <br>
                    <label for="quantity">Quantity:</label>
                    <!-- Input for displaying the quantity -->
                    
                    <!-- Counter buttons -->
                    <div class="counter">
                        <button type="button" onclick="decrement()">-</button>
                        <input type="text" id="quantity" name="quantity" value="1" readonly>
                        <button type="button" onclick="increment()">+</button>
                    </div>
                    <!-- Submit button -->
                    <div class="cart">
                        <button type="submit">Add to Cart</button>
                    </div>
                </form>
                <!--<div class="counter">
                    <button>-</button>
                    <input type="number" name="" id="" min="1" max="10">
                    <button>+</button>
                </div>
                <div class="cart">
                    <button>
                        <a href="cart.html">Add To Cart2</a>
                    </button>
                </div>-->
            </div>
        </div>



    <section class="third-middle">
        <div class="products">
            <hr>
            <span>featured products</span>
        </div>
        <div class="three-divs">
            <div class="shirt">
                <div class="shirt-img1">
                    <!-- <img src="images/cloth_1.jpg" alt=""> -->
                </div>
                <div class="shirt-text">
                <span class="up">
                    tank top
                </span>
                <span>
                    finding perfect t-shirt
                </span>
                <span class="money">
                    $50
                </span>
                </div>
            </div>
            <div class="shirt">
                <div class="shirt-img2">
                    <!-- <img src="images/cloth_1.jpg" alt=""> -->
                </div>
                <div class="shirt-text">
                <span class="up">
                    corater
                </span>
                <span>
                    finding perfect product
                </span>
                <span class="money">
                    $50
                </span>
                </div>
            </div>
            <div class="shirt">
                <div class="shirt-img3">
                    <!-- <img src="images/cloth_1.jpg" alt=""> -->
                </div>
                <div class="shirt-text">
                <span class="up">
                    polo shirt
                </span>
                <span>
                    finding perfect shirt
                </span>
                <span class="money">
                    $50
                </span>
                </div>
            </div>
        </div>
    </section>




    <footer class="footer">
        
        <div class="foot-one">
            
                <ul>
                    <li><h3>Navigation</h3></li>
                    <li>Sell online</li>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-two">
            
                <ul>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-two">
            
                <ul>
                    <li> Features</li>
                    <li> shopping cart</li>
                    <li>Store builder</li>
                </ul>
            
        </div>

        <div class="foot-four">
            <ul>
                <li class="head-line">
                    <h3>
                        promo
                    </h3>
                </li>
                <li><img src="../static/images/hero_1.jpg" alt=""></li>
                <li>
                    <a class="link" href="#">
                    Finding your perfect shoes
                    </a>
                </li>
                <li class="grey-2" >
                    promo from january 15-25,2023
                </li>
            </ul>
        </div>
        <div class="foot-five">
            <ul>
                <li class="head-line">
                    <h3>
                        contact info

                    </h3>
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i>Alexandria,Egypt
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    01151316110
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    Mohamedhamdy994@gmail.com<br>
                    <i class="fa-solid fa-envelope"></i>
                    Shimaasalah91.13@gmail.com<br>
                    <i class="fa-solid fa-envelope"></i>
                    eng.ahmedads@gmail.com
                </li>
                <li>Subscribe</li>
                <li><input type="email" name="" id="input" placeholder="Email"><button class="button-foot">send</button></li>
    
            </ul>
            
    
        
    </div>
</footer>
<script src="../static/scripts/script.js"></script>
<!-- <div class="copyright">
    <p>
        Copyright &copy;2023 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by <span>Mohamed Hamdy</span> 
    </p>
</div> -->
</body>
</html>
