/* Add styles here */
:root{
    --main-color: rgb(52,168,83);
    --btn-color:#ffbb38;

}
.fresh-veg{
    background-color: aliceblue;
}
.navbar {
    margin-bottom: 20px;
    background-color: var(--main-color);
  }

.back-ground{
    background-color: var(--main-color);
}
.card-one{
    background-color: #FFD0D0;
}
.card-two{
    background-color: #B8D9D0;
}
/* .card-img-top{
  background-size: contain;
} */


.card {
  display: flex;
  flex-direction: column;
}

.card-img-top {
  flex-grow: 1;
  object-fit: cover; /* Ensures the image covers the available space */
  height: 260px;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title, .card-text, .btn {
  margin-bottom: 10px; /* Optional: Adds spacing between elements */
}




a{
  text-decoration: none !important ;
}
.btn-color{
   background-color: var(--btn-color);
   color: white;
}

.txt_color{
    color: var(--main-color);
}

.product-img{
    border: 1px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    width: 100%;
    padding:50px
}

.rating span i{
    color:gold
}


.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  /* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  

  .product{

  padding:7rem
    
  }

  .form-signin {
    width: 50%;
    max-width: 330px;
    padding: 15px;
    margin:  100px auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
